@model US5NET.Models.T_SYST_CLAS

@{
    ViewBag.Title = "刪除問題分類";
}

<h2>刪除問題分類</h2>

<h3>確定要刪除嗎?</h3>
<div>
    <h4>T_SYST_CLAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLAS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLAS_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
